<h1>物件一覧</h1>
<table>
  <tr class="table_head">
    <th>物件名</th>
    <th>賃料</th>
    <th>住所</th>
    <th>築年数</th>
    <th>備考</th>
  </tr>
  <% @real_estates.each do |r| %>
  <tr>
    <td><%=r.room_name%></td>
    <td><%=r.room_rent.to_s(:delimited, delimiter: ',')%>円</td>
    <td><%=r.room_address%></td>
    <td><%=r.room_age%>年</td>
    <td><%=r.room_remarks%></td>
    <td><%=link_to "詳細"%></td>
    <td><%=link_to "編集",edit_real_estate_path(r.id)%></td>
    <td><%=link_to "削除",real_estate_path(r.id),method: :delete,data: { confirm: '本当に削除していいですか？' }%></td>
  </tr>
  <% end %>
</table>
<%=link_to "物件を登録する", new_real_estate_path%>
